[submodule "src/coucal"]
	path = src/coucal
	url = https://github.com/xroche/coucal.git
[submodule "portable"]
	path = portable
	url = https://github.com/Meithal/portable.git
[submodule "httrack"]
	path = httrack
	url = https://github.com/Meithal/httrack.git
